*{
    margin:0;
}
body{
    background-color: rgba(48, 1, 1, 0.692);

}
h1{
    color:aliceblue;
    background-color:darkolivegreen;
    margin-bottom: 40px;
    margin-top: 20px;
    padding:10px;
   
}

.texto-centrado{
    text-align: center;
}
p{
    color: white;
    margin:10px;
    font-size:20px;
    font-weight:bold;
    font-style: oblique;
}


img{
    height:300px;
    width:400px;
    height:auto;
    margin:auto;
    display:block;
}
